
@import "../valo/valo.scss";
$v-font-family: "Open Sans", sans-serif;
@mixin mytheme {
	@include valo;
	
	.background-dark
	{
	 	background: #74737A;
	 	color:white;
	}
	.background-white
	{
		background: #CACECD;
	 	color:black;
	}
	
}
@include mytheme;